body {
    background-color: #FFFCF9;
    height:100vh;
    margin:0;
    display:flex;
    flex-direction:column;
    font-family: "Helvetica","Parisine"!important;
    font-size: x-large;
}

.justify-content-center {
    justify-content: right!important;
}

.translation-div {
    justify-content: left!important;
    padding: 0.5rem 1rem;
}

.nav-link {
    color:#2E1F27;
}

a {
    color:#2E1F27;
}

.title {
    color:#2E1F27;
    font-size: larger;
}

h1 {
    text-align: center;
    font-size: larger;
}



#content {
    width: 70%;
    padding-right: var(--bs-gutter-x,4rem);
    padding-left: var(--bs-gutter-x,4rem);
    margin-right: auto;
    margin-left: auto;
}


a:hover {
    color:#048A81!important;
}


#footer{
    margin-top:auto;
    /*background-color:#8A89C0;*/
}

#header{
    margin-bottom:3rem;
    /*background-color:#8A89C0;*/
}

div.bibbase{

}

a.bibbase.author.link{
    font-weight: bold;
}

.bibbase_group {
    background-color: #FFFCF9;
}


.responsive-image {
    width: 50%;
    height: auto; /* maintain aspect ratio */
    margin: 0 auto; /* center image horizontally */
    display: block; /* necessary for centering */
    margin-bottom: 4em;
}


@media screen and (max-width: 992px) { /* 'lg' breakpoint in Bootstrap is 992px */
  .nav-link {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: small; /* or another size that looks good */
  }
  .responsive-image {
      width: 100%;
  }
  #content {
      width: 95%;
      padding-right: 1rem;
      padding-left: 1rem;
  }

}


a[href="//bibbase.org"]::parent {
    display: none;
}
