.circle {
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    display: flex;
    border-style: solid;
    border-width: 1px;
    word-wrap:break-word;
}


#box {
    margin-top: 0.5cm;
    margin-left: 0.5cm;
    width: 20.59cm;
    height: 26.94cm;
    display: flex;

}

#ruler {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0cm;
    width: 0.5 cm;
    font-size: 4px;
    margin-right: 1px;

}

#parameters_description {
    float: right;
    margin-left: auto;
    margin-right: 5%;
    width: 40%;
}

#container {
    padding: 5%;

}

#parameters_div {
    float: left;
    margin-left: 0%;
    margin-right: auto;
    width: 40%;
}

#spreadsheet {
    width: 90%;
    margin-left: 0%;
    margin-bottom: 5%;
}

body {
    margin: 0;
    font-family: "Tahoma";
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

#run_button{
    display: block;
    margin: auto;
}
